<div class="col-md-8 col-md-offset-2">
  <div class="message-show">
    <h2><%= @message.title %></h2>
    <p class="message-posted-by">Posted by <%= @message.user.email %> <%= time_ago_in_words(@message.created_at) %> ago</p>
    <p class="message-desc"><%= @message.description %></p>




  <h3 class="reply-to-msg">Reply to Message: </h3>

    <%= render 'comments/form' %>

    <h3>Comments:</h3>

  
    <div id="comments">
  <% @message.comments.each do |c| %>
    <%= render "comments/comment", comment: c %>
    <% end %>

    </div>
  </div>
